{% load staticfiles %}
{% load dajaxice_templatetags %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{% static 'cta/map.js' %}"></script>
	<script type="text/javascript" src="{% static "/static/dajax/jquery.dajax.core.js" %}"></script>
	{% dajaxice_js_import %}
	<script type="text/javascript" >
	function getStopsCallback(data){
		addStops(data);
	}
	function getRoutesCallback(data){
		addRoutes(data);
	}</script>
	<link rel="stylesheet" type="text/css" href="{% static 'cta/style.css' %}" />
  <body onload="initialize()" onunload="GUnload()">
	<div id='inputs'>
		<button onclick="Dajaxice.cta.get_routes(getRoutesCallback);">Get Routes</button>
		<select id="route-selector"><option value="72">72</option><option value="66">66</option></select>
		<button onclick="Dajaxice.cta.get_stops(getStopsCallback, {'route':$('#route-selector').val(), 'direction':'Eastbound'});">Place Stops</button>
		<!--<button onclick="getLocation()">Try It</button>
		<div id='demo'></div>
		<script>
		var x=document.getElementById("demo");
		function getLocation()
		  {
		  if (navigator.geolocation)
		    {
		    navigator.geolocation.getCurrentPosition(showPosition);
		    }
		  else{x.innerHTML="Geolocation is not supported by this browser.";}
		  }
		function showPosition(position)
		  {
		  x.innerHTML="Latitude: " + position.coords.latitude + 
		  "<br>Longitude: " + position.coords.longitude;	
		  }
		</script>-->
	</div>
		<div id="map_canvas"></div>
  </body>
</html>