{% load staticfiles %}
    <script src="//maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAuPsJpk3MBtDpJ4G8cqBnjRRaGTYH6UMl8mADNa0YKuWNNa8VNxQCzVBXTx2DYyXGsTOxpWhvIG7Djw" type="text/javascript"></script>
    <script type="text/javascript">

    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(41.910277822061, -87.686948776245), 16);
      }
    }

    </script>

	<link rel="stylesheet" type="text/css" href="{% static 'cta/style.css' %}" />
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas"></div>
  </body>
</html>