{% load staticfiles %}
{% load dajaxice_templatetags %}
	<head>
		<title>Chicago Bus Tracker</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	{% dajaxice_js_import %}
	<script type="text/javascript" src="{% static 'cta/map.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'cta/style.css' %}" />
	</head>
  <body onload="initialize()" onunload="GUnload()">
	<div id='inputs'>
		<select id="route-selector"></select>
		<button onclick="getStops();">Place Stops</button>
		<button onclick="getPatterns();">Place Patterns</button>
		<button onclick="getVehicles();">Place Vehicles</button>
		<!--<button onclick="getLocation()">Try It</button>
		<div id='demo'></div>
		<script>
		var x=document.getElementById("demo");
		function getLocation()
		  {
		  if (navigator.geolocation)
		    {
		    navigator.geolocation.getCurrentPosition(showPosition);
		    }
		  else{x.innerHTML="Geolocation is not supported by this browser.";}
		  }
		function showPosition(position)
		  {
		  x.innerHTML="Latitude: " + position.coords.latitude + 
		  "<br>Longitude: " + position.coords.longitude;	
		  }
		</script>-->
	</div>
		<div id="map_canvas"></div>
  </body>
</html>